{% extends 'base.html.twig' %}

{% block title %}Edit Contacts{% endblock %}

{% block body %}
    <h1>Edit Contacts</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Update'}) }}



    <button class="btn btn-info"> <a style="color: white" href="{{ path('contacts_index') }}">Annuler</a></button>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
